In [1]:
import pandas as pd

In [37]:
df=pd.read_csv('load.csv')

In [38]:
df=df.drop(['Unnamed: 0'],axis=1)

In [39]:
group_by=df.groupby(['issues','sub_issue']).count()

In [40]:
group_by

,products,issues,sub_products,compliant_ids,timely,company_respopnse,comapnys,date_recive,state,sub_issue
submitted_via,,,,,,,,,,
Phone,1740,1740,1740,1740,1740,1740,1740,1740,1740,1461
Postal mail,306,306,306,306,306,306,306,306,306,273
Referral,750,750,750,750,750,750,750,750,750,636
Web,74652,74652,74652,74652,74652,74652,74652,74652,74652,70755
Web Referral,120,120,120,120,120,120,120,120,120,105